// Responsive Breakpoints
// All values are used for min-widths queries, except for phone. Em
// values relative to root font size of 16px.
$breakpoints: (
  "tablet-portrait": 50em,    // 600px
  "tablet-landscape": 57em,   // 912px
  "desktop": 75em,            // 1200px
  "desktop-wide": 90em        // 1440px
);

@mixin respond($breakpoint-name) {
  @if $breakpoint-name == "mobile-only" {
    @media screen and (max-width: map-get($breakpoints, tablet-portrait)) { @content; }
  } @else {
    $breakpoint-width: map-get($breakpoints, $breakpoint-name);
    @media screen and (min-width: #{$breakpoint-width}) { @content; }
  }
}

@mixin print {
  @media print { @content; }
}

// Vertical Rhythm

$ratio: 1.414;
$base-font-size: 1em;
$base-line: 1.414em;
$base-line--headings: 1.177em;

$gutter: $base-line;
$gutter2: $base-line*2;

$type-scale-sizes: (
  -3: 0.354em,
  -2: 0.5em,
  -1: 0.707em,
  0: 1em,
  1: 1.414em,
  2: 1.999em,
  3: 2.827em,
  4: 3.998em,
  5: 5.653em,
  6: 7.993em,
  7: 11.302em
);

$type-scale: (
  "big": (
    "size": map-get($type-scale-sizes, 4)
  ),
  "h1": (
    "size":   map-get($type-scale-sizes, 3),
    "line":   $base-line--headings,
    "margin": ($base-line * 2) - $base-line--headings
  ),
  "h2": (
    "size":   map-get($type-scale-sizes, 2),
    "line":   $base-line--headings,
    "margin": ($base-line * 2) - $base-line--headings
  ),
  "h3": (
    "size":   map-get($type-scale-sizes, 1),
    "line":   $base-line,
    "margin": ($base-line * 2) - $base-line--headings
  ),
  "h4": (
    "size":   map-get($type-scale-sizes, 1),
    "line":   $base-line,
    "margin": ($base-line * 2) - $base-line--headings
  ),
  "base": (
    "size":   map-get($type-scale-sizes, 0),
    "line":   $base-line,
    "margin": $base-line
  ),
  "small": (
    "size":   map-get($type-scale-sizes, -1),
    "line":   $base-line,
    "margin": $base-line
  ),
  "tiny": (
    "size":   map-get($type-scale-sizes, -3)
  )
);

$left-gutter: scale(big);
