+font-face("Montserrat", "/fonts/Montserrat-Regular", 400, normal)
+font-face("Montserrat", "/fonts/Montserrat-Italic", 400, italic)
+font-face("Montserrat", "/fonts/Montserrat-SemiBold", 600, normal)
+font-face("PlayFair Display", "/fonts/PlayFairDisplay-Regular")

$family-serif: "PlayFair Display", serif
$family-sans-serif: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default

// Typography Lists and Maps

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default
