+font-face("Montserrat", "/fonts/Montserrat-Regular", 400, normal)
+font-face("Montserrat", "/fonts/Montserrat-Italic", 400, italic)
+font-face("Montserrat", "/fonts/Montserrat-SemiBold", 600, normal)
+font-face("PlayFair Display", "/fonts/PlayFairDisplay-Regular")

$family-serif: "PlayFair Display", serif
$family-sans-serif: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

// Fluid Typography

html
  font-size: scale(base)
  font-size: calc( 20px + ( ( 20 - 16 ) * (100vw - 400px) / (1200 - 400) ) )
  +respond(desktop)
    font-size: 20px

%logofont
  font-family: $family-serif
  

body
  font-family: $family-sans-serif
  font-weight: 400

h1, h2, h3, h4
  font-family: $family-serif
  font-weight: 400

h5, h6
  font-family: $family-sans-serif
  font-weight: 600

h1
  font-size: scale(h3)
  line-height: scale(h3, line)
  margin-top: scale(h3, margin)
  +respond('tablet-portrait')
    font-size: scale(h2)
    line-height: scale(h2, line)
    margin-top: scale(h2, margin)
  +respond('tablet-landscape')
    font-size: scale(h1)
    line-height: scale(h1, line)
    margin-top: scale(h1)

h2
  font-size: scale(h3)
  line-height: scale(h3, line)
  margin-top: scale(h3, margin)
  +respond('tablet-landscape')
    font-size: scale(h2)
    line-height: scale(h2, line)
    margin-top: scale(h2, margin)

h3
  font-size: scale(base)
  line-height: scale(base, line)
  margin-top: scale(base, margin)
  +respond('tablet-portrait')
    font-size: scale(h3)
    line-height: scale(h3, line)
    margin-top: scale(h3, margin)

h4
  //@extend h3
  // different font-family/treatment

h5
  font-size: scale(base)
  line-height: scale(base, line)
  margin-top: scale(base, margin)

p
  line-height: scale(base, line)
  margin-top: scale(base, margin)

a
  color: color(accent)
  text-decoration: none
  &:hover
    color: color(primary)
