html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  background: color("background", "base")
  color: color("primary", "base")
  // +respond("desktop")
  //   &:before,
  //   &:after
  //     background: color("background", "base")
  //     content: ""
  //     display: block
  //     height: scale("base")
  //     position: fixed
  //     left: 0
  //     right: 0
  //     z-index: z-index("page-borders")
  //   &:before
  //     top: 0
  //   &:after
  //     bottom: 0

.page--dark
  background: color("primary", "base")
  color: color("background", "base")


.main
  overflow: auto


.section
  margin-left: auto
  margin-right: auto
  padding-bottom: $gutter2
  padding-top: $gutter2
