.hero
  position: relative
  height: 100vh
  display: flex
  justify-content: flex-end

.hero-content
  align-self: flex-end
  color: color(background, light)
  padding: 0 $gutter $gutter2
  position: relative
  z-index: 5
  +respond("tablet-portrait")
    max-width: 80%
  +respond("tablet-landscape")
    padding-left: 15vw
  +respond("desktop")
    padding-right: 5vw

.hero-content__title
  margin: 0

.hero-figure
  &::after
    background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.25))
    content: ""
    display: block
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 2
  &__img
    width: auto;
    height: auto;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1
    @supports(object-fit: cover)
      height: 100%
      width: 100%
      transform: none
      left: 0
      top: 0
      object-fit: cover
