.img
  &--right
    margin: $gutter 0 1em 1em
    float: right
  &--quarter
    width: 5em
    height: 5em
    +respond("tablet-landscape")
      width: 7em
      height: 7em
    +respond("desktop-wide")
      height: 10em
      width: 10em
