.pagination
  font-family: $family-sans-serif
  font-size: scale(small)
  list-style: none
  text-align: center

.page-item
  display: inline-block
  &.disabled

  &.active


.page-link
  color: color("primary", "lightest")
  padding: $halfGutter

  &[aria-label="First"],
  &[aria-label="Last"]
    padding: $halfGutter scale("xxx-small")
  &[aria-label="Previous"]
    margin-right: $halfGutter
    padding: $halfGutter scale("xxx-small")
  &[aria-label="Next"]
    margin-left: $halfGutter
    padding: $halfGutter scale("xxx-small")


  .page-item.active &
    color: color("primary", "base")
