.resources
  margin-top: $gutter2

.resources__heading
  margin-top: $gutter

.resources__list
  margin: 0
  padding: 0

.resources__item
  list-style: none

.resources__link
  color: color("primary", "lightest")
  font-family: $family-sans-serif
  font-size: scale("small")

.resource_link
  display: inline-block
  font-size: scale(h5)
  line-height: scale(h5, line)
  margin-top: $gutter

  &--pdf::after
    content: " (PDF)"
