{{ define "main" }}
  <header class="mast">
    <h1 class="mast__title">{{ .Title }}</h1>
  </header>

  <article class="list-intro">
    {{ .Content }}
  </article>

  <section class="list">
    {{ range .Pages.ByWeight }}
      <article class="listing listing--summary">
        <h3 class="listing__title">
          <a href="{{ .Permalink }}" class="listing__link">{{ .Title }}</a>
        </h3>
        <div class="listing__summary">{{ .Summary }}</div>
      </article>
    {{ end }}
  </section>
{{ end }}
