{{ define "main" }}
  {{ partial "mast" . }}

  <article class="list-intro">
    {{ .Content }}
  </article>

  <section class="list">
    {{ range where .Pages.ByWeight "Params.exclude" "ne" "true" }}
      <article class="listing listing--summary">
        <h3 class="listing__title">
          <a href="{{ .Permalink }}" class="listing__link">{{ .Title }}</a>
        </h3>
        {{ if not .Params.noSummary }}
          <div class="listing__summary">{{ .Summary }}</div>
        {{ end }}
      </article>
    {{ end }}
  </section>
{{ end }}
