<footer class="footer">
  <div class="footer-col footer-col--newsletter">
    <h5 class="footer__heading">Join our Mailing List</h5>
    <p class="newsletter__p">{{ .Site.Params.contact.newsletter_description }}</p>
    <form action="https://nsdcf.us15.list-manage.com/subscribe/post?u=347d678a4ec7efe1cf490d9fd&amp;id=e13e076af9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form newsletter-form--validate" target="_blank">
      <input required type="email" name="EMAIL" class="newsletter-form__input" id="mce-EMAIL" value placeholder="Your email address">
      <button type="submit" class="newsletter-form__button" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
    </form>
  </div>

  <nav class="footer-col footer-col--menu">
    <h5 class="footer__heading">Navigate</h5>
    <ul class="footer-menu">
      {{ range .Site.Menus.main }}
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ range .Site.Menus.footer }}
        <li class="footer-menu__item">
          <a class="footer-menu__link" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      <li class="footer-menu__item">
        <a class="footer-menu__link footer-menu__link--external" href="https://norwinsd.org" target="_blank">Norwin School District</a>
      </li>
    </ul>
  </nav>

  <div class="footer-col footer-col--social">
    <h5 class="footer__heading">Follow</h5>
    <ul class="social">
      <li class="social__item">
        <a class="social__link social__link--facebook" href="{{ .Site.Social.facebook }}" target="_blank">
          <svg class="social__svg" viewBox="0 0 512 512">
            <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/>
          </svg>
          <em class="social__em">Facebook</em>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--twitter" href="{{ .Site.Social.twitter }}" target="_blank">
          <svg class="social__svg" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/>
          </svg>
          <em class="social__em">Twitter</em>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-col footer-col--contact">
    <h5 class="footer__heading"><a href="/contact/">Contact</a></h5>
      <span>{{ .Site.Params.contact.street }}</span><br />
      <span>{{ .Site.Params.contact.city }}</span>,&nbsp;
      <span>{{ .Site.Params.contact.state }}</span>&nbsp;
      <span>{{ .Site.Params.contact.postal }}</span>
    <br />
    <span class="label">Phone </span>
    <span>{{ .Site.Params.contact.phone }}</span><br />
    <a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
  </div>

  <div class="logo footer-logo">
    <a href="{{ .Site.BaseURL }}" class="footer-logo__link">{{ .Site.Params.title }}</a>
  </div>

  <div class="footer-col footer-col--legal">
    <ul class="footer-menu">
      {{ range .Site.Menus.legal }}
        <li class="footer-menu__item footer-menu__item--legal footer-menu__item--{{ index (split .Name " ") 0| lower }}">
          <a class="footer-menu__link footer-menu__link--legal" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>

  <div class="copyright">
    <p class="copyright__p">&copy; 2018 {{ .Site.Params.title }}. All Rights Reserved.</p>
  </div>
</footer>
