{{ define "main" }}
  <article>
    <header class="mast mast--single">
      <h1 class="mast__title">{{ .Title }}</h1>
    </header>

    <div class="content">{{ .Content }}</div>
  </article>

  <section class="content program_list">
    {{ range .Resources.Match "*.md" }}
      {{ $shortName := .Name | strings.TrimPrefix "scholarship_" | strings.TrimSuffix ".md" }}

      <article class="program_listing" id="{{ $shortName }}">
        <h5 class="program_listing__title">{{ .Title }}</h5>
        {{ .Content }}
      </article>
    {{ end }}
  </section>
{{ end }}
