.mast
  +section-padding(scale(x-large))
  background-color: color(background, base)

  &--cover
    background-position: 50% 50%
    background-size: cover
    color: color(background, lightest)
    display: flex
    height: 100vh

  &__content
    align-self: flex-end

  &__subtitle
    margin: 0

  > p
    margin-left: $gutter
    margin-right: $gutter
