.single
  //

.content
  +section-padding

  &--alt
    background-color: color(background)

.img--side
  +respond("tablet-portrait")
    margin: $gutter auto 0
    max-width: 50%
  +respond("tablet-landscape")
    margin: $gutter 0 $gutter $gutter
    float: right
    //max-width: 25%
  +respond("desktop-wide")
    max-width: 20em
  img
    max-width: 100%

.img--full
  margin: $gutter 0 $gutter
  img
    display: block
    max-width: 100%

.list--col
  list-style: none
  +respond("tablet-portrait")
    column-count: 2

.list__li
  padding-bottom: scale("xx-small")
