.single
  //

.content
  +section-padding

  &--alt
    background-color: color(background)

.img--side
  +respond("tablet-portrait")
    margin: scale(h2, margin) auto 0
    max-width: 50%
  +respond("tablet-landscape")
    margin: scale(h2, margin)*2 0 $gutter $gutter
    float: right
    //max-width: 25%
  +respond("desktop-wide")
    max-width: 20em
  img
    max-width: 100%

.img--full
  margin: $gutter 0 $gutter
  img
    display: block
    max-width: 100%
