html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

::selection
  background: color("tertiary")
  color: color("background", "lightest")

body
  background: color("background", "lightest")
  color: color("primary", "base")

.main
  overflow: auto

=section-padding($top: $gutter)
  padding: $top $gutter $gutter2
  +respond("tablet-landscape")
    padding-left: 15%
    padding-right: 15%

=grid
  +supports(grid)
    display: grid

.grid
  +section-padding
