{{ define "main" }}
  <article>
    {{ partial "mast" . }}

    <div class="content">
      {{ .Content }}
    </div>

    <div class="content content--board">
      <h3 class="board__heading">{{ .Params.photos_headline }}</h3>

      {{ range $.Resources.Match "**.md" }}
        <div class="media_vert media_vert--board">
          {{ if .Params.photo }}
            <figure class="media_vert__fig">
              <img src="{{ .Params.photo }}" class="media_vert__img" />
            </figure>
          {{ end }}

          <header class="media_vert__meta">
            <h4 class="media_vert__heading">{{ .Title }}</h4>
            {{ if .Params.position }}<span class="media_vert__subheading">{{ .Params.position }}</span>{{ end }}
            {{ if .Params.position2 }}<span class="media_vert__subheading">{{ .Params.position2 }}</span>{{ end }}
          </header>
        </div>
      {{ end }}
    </div>
  </article>
{{ end }}
