<div class="meta">
  <ul class="meta-categories">
    {{ range .Params.categories }}
      <li class="meta-categories__item">
        <a href="{{ "news/topics/" | absURL}}{{ . | urlize }}" class="meta-categories__link">{{ title . }}</a>
      </li>
    {{ end }}
  </ul>

  {{ if .Params.author }}
    <address class="meta__author">
      <a class="meta__author-link" rel="author" href="#">{{ title .Params.author }}</a>
    </address>
  {{ end }}

  <time class="meta__time" pubdate datetime="xxxx-mm-dd">{{ .Date.Format "1 January 2006" }}</time>
</div>
