{{- $orig := (.dot.Resources.ByType "image").GetMatch .img -}}
{{- $classes := split .class " " -}}
{{- $dot  := .dot -}}
{{- $widths :=  cond (ne .widths nil) (split .widths ",") (slice "400" "600" "768" "1024" "1280" "1366" "1440" "1600" "1680" "1920" "2048") -}}
{{- range $widths -}}
  {{- if (ge $orig.Width .) -}}
    {{- $dot.Scratch.SetInMap "images" . ($orig.Resize (print . "x")) }}
  {{- end -}}
{{- end -}}
{{- $processed := $dot.Scratch.Get "images" -}}
{{- $counter   := 0 -}}

<figure{{ with $classes }} class="{{ range . }}{{.}} {{end}}"{{end}}>
  <img sizes="{{- if eq .size "full-width" -}}
                100vw
              {{- else if eq .size "content" -}}
                (min-width: 57em) calc(100vw - 15%),
                calc(100vw - 1.414em),
                100vw
              {{- else if eq .size "content-half" -}}
                (min-width: 75em) 50vw,
                calc(100vw - 1.414em)
              {{- else if eq .size "quarter" -}}
                (min-width: 75em) 25vw,
                calc(25vw - 1.414em)
              {{- else -}}
                100vw
              {{- end -}}"
       srcset="{{- range $i, $e := $processed -}}
                 {{ if ne $counter 0 }}, {{end}}{{$e.Permalink}} {{$e.Width}}w{{- $counter = add $counter 1 -}}
               {{- end -}}"
       src="{{ $orig.Permalink }}"
       class="{{ if .imgClass }}{{.imgClass}}{{else}}{{ range first 1 $classes }} {{.}}__img{{ end }}{{ end }}"
       {{- with .alt }} alt="{{.}}"{{ end }}
       {{- if .loading }} loading="{{.}}"{{ end }} />
  {{- if .caption -}}
    <figcaption>{{.caption}}
      {{ if .citation }}
        <p class="img__citation">{{.citation}}</p>
      {{ end }}
    </figcaption>
  {{- else if $orig.Params.caption -}}
    <figcaption>{{$orig.Params.caption}}
      {{ if $orig.Params.citation }}
        <p class="img__citation">{{ $orig.Params.citation }}</p>
      {{ end }}
    </figcaption>
  {{- end -}}
</figure>
