{{ define "title"}}{{ .Site.Title}}{{end}}

{{ define "intro" }}
  <section class="content giving-alert">
    <p class="giving-alert__text">Join us for the <em>Magic of Christmas</em> holiday concert with the River City Brass on Sunday, December 16. <a href="{{ ref . "10-26-18-holiday-concert" }}" class="giving-alert__link">Order your tickets today</a>.
  </section>
  <section class="hero hero--home">
    <div class="hero-content">
      <h1 class="hero-content__title">{{ .Title }}</h1>
    </div>
  </section>
{{ end }}

{{ define "main" }}
  <section class="home-slide">
    {{.Content}}
  </section>


  <section class="list list--home">
    <div class="home-listings__intro">
      <h2 class="home-listings__heading">Latest News</h2>
    </div>

    {{ range first 4 (where .Data.Pages "Section" "news") }}
      {{ .Render "li" }}
    {{ end }}
  </section>
{{ end }}
