{{ define "title"}}{{ .Site.Title}}{{end}}

{{ define "intro" }}
  <section class="hero hero--home">
    <div class="hero-content">
      <h1 class="hero-content__title">{{.Title}}</h1>
    </div>
  </section>
{{ end }}

{{ define "main" }}
  <section class="home-slide">
    {{.Content}}
  </section>

  <section class="list list--home">
    <div class="home-listings__intro">
      <h2 class="home-listings__heading">Latest News</h2>
    </div>

    {{ range first 4 (where .Data.Pages "Section" "news") }}
      {{ .Render "listing-short" }}
    {{ end }}
  </section>
{{ end }}
