{{ define "title"}}{{ .Site.Title}}{{end}}

{{ define "intro" }}
  <section class="hero hero--home">
    <div class="hero-content">
      <h1 class="hero-content__title">{{ .Title }}</h1>
    </div>
  </section>

  <section class="content giving-alert">
    <p class="giving-alert__text">We are currently accepting nominations for the 2019 Distinguished Alumni Awards from now until February 1st. <a href="{{ ref . "/news/2018-10-01-alumni-nominations-2019.md" }}" class="giving-alert__link">Nominate a Norwin alumnus  today.</a></p>
</section>
{{ end }}

{{ define "main" }}
  <section class="home-slide">
    {{.Content}}
  </section>


  <section class="list list--home">
    <div class="home-listings__intro">
      <h2 class="home-listings__heading">Latest News</h2>
    </div>

    {{ range first 4 (where .Data.Pages "Section" "news") }}
      {{ .Render "li" }}
    {{ end }}
  </section>
{{ end }}
