.hero
  background: color(primary)
  color: color(background, light)
  +respond("tablet-portrait")
    background: color(primary) url(/images/knight-icon.svg) no-repeat left -5em bottom -4em

  &.split
    +respond(tablet-portrait)
      display: flex
      flex-direction: row

.hero-content
  display: flex
  align-items: center
  justify-content: center
  padding: $gutter
  +respond(mobile-only)
    position: absolute
    height: 100vh
    width: 100%
    text-align: center
  +respond(tablet-portrait)
    //background: url(/images/knight-icon.svg) no-repeat left -5em bottom -4em
    flex: 1
    align-items: flex-end
    padding-bottom: $gutter
  +respond(tablet-landscape)
    padding-left: $gutter * 2
  +respond(desktop)
    padding-bottom: $gutter * 2
  +respond(desktop-wide)
    padding-bottom: $gutter * 3
  h2
    //margin: scale(h1, margin) 0
    margin-bottom: 0
    +respond(mobile-only)
      margin-top: 0
    +respond(desktop-wide)
      max-width: 85%


.hero-figure
  margin: 0
  height: 100vh
  +respond(tablet-portrait)
    flex: 1


.hero-figure-home
  background: linear-gradient(color(primary, overlay), color(primary, overlay)), url(/images/home-1.jpg) no-repeat center center
  background-size: cover
  +respond(tablet-portrait)
    background: url(/images/home-1.jpg) no-repeat center center
  +respond(desktop)
    background-position: 55% 65%
