.slide
  background: color(background, base)
  text-align: center
  +respond(tablet-portrait)
    padding-left: $gutter*2
    padding-right: $gutter*2
  +respond(desktop)
    padding-left: scale(big)
    min-height: 100vh
    text-align: left

  h1
    margin-top: 0
    +respond(desktop)
      margin-top: scale(h2)
      // &::before
      //   background: color(primary, light)
      //   content: ''
      //   display: block
      //   height: 0.296rem
      //   width: 3.375rem
      //   margin-bottom: 1.5rem



  p
    +respond(desktop)
      margin-right: map-get($type-scale-sizes, 5)
