html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  background: color("background", "lightest")
  color: color("primary", "base")

.main
  overflow: auto

%section-padding
  padding: $gutter $gutter $gutter2
  +respond("tablet-landscape")
    padding-left: 15%
    padding-right: 15%
