<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <div class="header__inner">
    <div class="hamburger">
      <div class="hamburger__line hamburger__line--start"></div>
      <div class="hamburger__line"></div>
      <div class="hamburger__line hamburger__line--end"></div>
    </div>

    <div class="header-logo">
      <a class="header-logo__link" href="{{ .Site.BaseURL }}" itemprop="name">{{ .Site.Params.title_abbrev }}</a>
    </div>
  </div>
</header>
