.donation_form
  counter-reset: donation_fieldgroup-counter
  +respond("tablet-landscape")
    margin: 0 auto
    max-width: 45em
  +respond("desktop-wide")
    max-width: 50em


.donation_form__fieldgroup
  margin-bottom: $halfGutter
  &--btn
    text-align: center

.donation_form__sub_heading
  margin-bottom: scale(small)
  +respond("tablet-landscape")
    margin-left: -2.25em

  &::before
    content: counter(donation_fieldgroup-counter)
    counter-increment: donation_fieldgroup-counter
    display: inline-block
    height: 1.25em
    width: 1.25em
    background: color("tertiary", "light")
    border-radius: 100%
    color: #fff
    font-size: scale(h4)
    line-height: 1.25em
    margin-right: scale(x-small)
    text-align: center
    vertical-align: middle

.donation_boxes
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap

.donation_box
  //border: 1px solid color(background, dark)
  width: 50%
  margin: 0 $halfGutter*.5 $halfGutter
  +respond("tablet-portrait")
    width: 30%

.donation_box
  &__check
    position: absolute
    opacity: 0
    z-index: -1
    &:checked
      + label
        background-color: hsla(54, 89%, 78.6%, 0.5)
        border-color: color(accent, base)

  &__label
    border: 1px solid color(background, dark)
    border-radius: scale(xx-small)
    cursor: pointer
    display: block
    //padding: 1em 0
    width: 100%
    transition: background-color 0.1s, border-color 0.1s
    text-align: center
    vertical-align: middle

  &__amt
    font-size: scale(h2)
    //line-height: 1.25em
    display: inline-block
    padding: .5em 0

    &--other
      // is 1.999em
      font-size: .9995em
      padding: 1em 0

  &__currency
    display: inline-block
    font-size: scale(small)
    vertical-align: super

  &__custom
    -webkit-appearance: none
    border: 0
    //border-bottom: 4px dashed color(background, dark)
    font-family: $family-serif
    font-size: scale(h2)
    padding: .23em 0
    text-align: center
    height: 100%
    width: 5ch

.form__select--donate
  width: 100%
  //padding: 1em
