.legal-list__section_heading
  font-style: italic
  display: inline-block
  margin: scale(base) 0 0

.legal-list__inline_subheading
  display: inline-block
  font-family: $family-serif
  font-variant: small-caps
  font-weight: 600
  letter-spacing: 0.05em
  text-transform: uppercase
  margin: scale(base) 0

.legal-list__inline_subheading2,
.legal-list__initial_word
  display: inline-block
  font-family: $family-serif
  font-variant: small-caps
  font-size: scale(base)
  font-weight: 400
  letter-spacing: 0.05em
  text-transform: uppercase
  margin: scale(base) 0

.legal-list__intro_p
  margin: scale(base) 0

.legal-list__initial_word
  margin: 0


.body--legal .content > ol
  counter-reset: item
  padding-left: 0
  margin-left: 0
  ol
    padding-left: 0
  li
    list-style: none
    margin-bottom: scale(x-small)
    padding-left: 0
    &::before
      display: inline-block
      padding-right: 1em
      font-variant: small-caps
      text-align: right
      +respond("tablet-landscape")
        width: 3.75em
        margin-left: -3.75em

  > li
    display: block
    &:before
      content: counters(item, ".", decimal) "."
      counter-increment: item

    > ol
      counter-reset: subitem
      margin: scale(base) 0

      > li::before
        content: counters(item, ".", decimal) "." counters(subitem, ".") ". "
        counter-increment: subitem
      > li > ol
        counter-reset: subitem2
        > li::before
          content: counters(item, ".", decimal) "." counters(subitem, ".") "." counters(subitem2, ".") ". "
          counter-increment: subitem2
        > li > ol
          counter-reset: subitem3
          > li::before
            content: counters(item, ".", decimal) "." counters(subitem, ".") "." counters(subitem2, ".") "." counters(subitem3, ".") ". "
            counter-increment: subitem3

  ul
    margin: scale(base) 0
    li
      margin-bottom: 0
