{{ define "main" }}
  <article>
    {{ partial "mast" . }}

    <div class="content">{{ .Content }}</div>

    <div class="content donation_form">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donation_form__form">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="business" value="hello@nsdcf.org">
        <input type="hidden" name="hosted_button_id" value="M5W8BYCM5P2ZS" />

        <div class="donation_form__fieldgroup">
          <h5 class="donation_form__sub_heading">{{ .Params.stepOneHeading }}</h5>
          <div class="donation_boxes">
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="10.00" id="donation_box--10" >
              <label class="donation_box__label" for="donation_box--10">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--10">10</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="25.00" id="donation_box--25" >
              <label class="donation_box__label" for="donation_box--25">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--25">25</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="50.00" id="donation_box--50" >
              <label class="donation_box__label" for="donation_box--50">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--50">50</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="75.00" id="donation_box--75" >
              <label class="donation_box__label" for="donation_box--75">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--75">75</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="100.00" id="donation_box--100" >
              <label class="donation_box__label" for="donation_box--100">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--100">100</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="" id="donation_box--other" >
              <label class="donation_box__label" for="donation_box--other">
                <span class="donation_box__amt donation_box__amt--other">Other</span>
              </label>
            </div>
          </div>
        </div>

        <div class="donation_form_hidden_items">
          <div class="donation_form__fieldgroup">
            <h5 class="donation_form__sub_heading">{{ .Params.stepTwoHeading }}</h5>
            <select class="form__select form__select--donate" id="directed_donation" name="item_name">
              {{ range .Params.donationOptions }}
                <option value="{{.}}">{{.}}</option>
              {{ end }}
            </select>

            <div class="directed_donation_other">
              <label class="donation_label donation_label--directed" for="item_number"><p class="donation_label__p">If other, please specify the name of the program or scholarship fund you would like to direct your donation towards:</p></label>
              <textarea name="item_number" placeholder="Name of program or fund" class="form__textarea donation_textarea donation_textarea--directed" id="directed_donation_other__textarea"></textarea>
            </div>
          </div>

          <div class="donation_form__fieldgroup--btn">
            <button class="form__button form__button--donation button--svg button--paypal" type="submit">
              <span class="button__label--svg">Pay with</span>
              {{ partial "svg/paypal.svg" (dict "class" "button__icon button__icon--paypal") }}
            </button>

            <p class="donation_form__small_msg">{{ .Params.payByCheck | markdownify }}</p>
          </div>
        </div>


      </form>
    </div>
  </article>
{{end}}
