{{ define "main" }}
  <article>
    <header class="mast mast--single">
      <h1 class="mast__title">{{ .Title }}</h1>
    </header>

    <div class="content">{{ .Content }}</div>

    <div class="content donation_form">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donation_form__form">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="business" value="hello@nsdcf.org">

        <div class="donation_form__fieldgroup">
          <h5 class="donation_form__sub_heading">{{ .Params.stepOneHeading }}</h5>
          <div class="donation_boxes">
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="10.00" id="donation_box--10" >
              <label class="donation_box__label" for="donation_box--10">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--10">10</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="25.00" id="donation_box--25" >
              <label class="donation_box__label" for="donation_box--25">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--25">25</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="50.00" id="donation_box--50" >
              <label class="donation_box__label" for="donation_box--50">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--50">50</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="75.00" id="donation_box--75" >
              <label class="donation_box__label" for="donation_box--75">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--75">75</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="100.00" id="donation_box--100" >
              <label class="donation_box__label" for="donation_box--100">
                <span class="donation_box__currency">$</span>
                <span class="donation_box__amt donation_box__amt--100">100</span>
              </label>
            </div>
            <div class="donation_box">
              <input class="donation_box__check" type="radio" name="amount" value="" id="donation_box--other" >
              <label class="donation_box__label" for="donation_box--other">
                <span class="donation_box__amt donation_box__amt--other">Other</span>
              </label>
            </div>
          </div>
        </div>

        <div class="donation_form__fieldgroup">
          <h5 class="donation_form__sub_heading">{{ .Params.stepTwoHeading }}</h5>
          <select class="form__select form__select--donate" name="item_number">
            <option value="NSDCF Day of Giving 2018">{{ .Params.genericDonationName }}</option>
            {{ with .Site.GetPage "/programs" }}
              {{ with .Resources.GetMatch "scholarships.md" }}<optgroup label="{{ .Title }}">{{ end }}
                {{ range .Resources.Match "scholarships/*.md" }}
                  <option value="NSDCF Day of Giving 2018 ({{ .Title }})">{{ .Title }}</option>
                {{ end }}
              </optgroup>

              {{ with .Resources.GetMatch "grants.md" }}
                <optgroup label="{{ .Title }}">
                  <option value="NSDCF Day of Giving 2018 ({{ .Title }})">{{ .Title }}</option>
                </optgroup>
              {{ end }}

              {{ with .Resources.GetMatch "memorials.md" }}<optgroup label="{{ .Title }}">{{ end }}
                {{ range .Resources.Match "memorials/*.md" }}
                  <option value="NSDCF Day of Giving 2018 ({{ .Title }})">{{ .Title }}</option>
                {{ end }}
              </optgroup>
            {{ end }}
          </select>
        </div>

        <div class="donation_form__fieldgroup--btn">
          <button class="form__button form__button--donation button--svg button--paypal" type="submit">
            <span class="button__label--svg">Pay with</span>
            {{ partial "svg/paypal.svg" (dict "class" "button__icon button__icon--paypal") }}
          </button>
        </div>
      </form>
    </div>
  </article>
{{end}}
